<a href="https://colab.research.google.com/github/reshmaparveen6/reshmaparveen_2121206045_aiml/blob/main/reshmaparveen_2121206045.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#to find the reverse of a number only by using arithmetic operators
rev = 0
base = 1
def findReverse(num):
   global rev #function definition
   global base   #function definition
   if(num > 0):
      findReverse((int)(num/10))
      rev += (num % 10) * base
      base *= 10
   return rev
# take inputs
num = int(input('Enter the number: '))

# calling function and display result
print('The reverse number is =', findReverse(num))

Enter the number: 43
The reverse number is = 34

In [ ]:
#to add two numbers using bitwise operator
def add_without_plus_operator(a, b):
    while b != 0:
        data = a & b
        a = a ^ b
        b = data << 1
    return a
print(add_without_plus_operator(2, 10))
print(add_without_plus_operator(-20, 10))
print(add_without_plus_operator(-10, -20))

12
-10
-30

In [1]:
#1.	Input radius finds AREA OF CIRCLE and PERIMETER OF THE CIRCLE.
n=float(input("enter the radius"))
area=3.14*n*n
peri=2*3.14*n
print("area of circle is",area)
print("perimeter of circle",peri)

enter the radius3
area of circle is 28.259999999999998
perimeter of circle 18.84

In [2]:
#2.	Input Kilometer converts to centimeter, meter, and millimeter.
n=float(input("input kilometer"))
centi=n*100000
meter=n*1000
mili=n*1000000
print("centimeter is",centi)
print("meter is ",meter)
print("milimeter is",mili)

input kilometer3
centimeter is 300000.0
meter is  3000.0
milimeter is 3000000.0

In [4]:
#3.	Input two numbers find sum without ‘+’operator.
n=int(input("enter a"))
m=int(input("enter b"))
def add_without_plus_operator(n, m):
    while m != 0:
        data = n & m
        n = n ^ m
        m = data << 1
    return n
print(add_without_plus_operator(n, m))

enter a5
enter b6
11

In [5]:
def add(a, b):
    # for loop will start from 1 and move till the value of second number ,
    # first number(a) is incremented in for loop
    for i in range(1, b + 1):
        a = a + 1
    return a
 
# driver code
# first number is 10 and second number is 32 , for loop
# will start from 1 and move till 32 and the value of a
# is incremented 32 times which will give us the total
# sum of two numbers
a = add(10, 32)
print(a)

42

In [6]:
#4.	Input two numbers find remainder without ‘%’.
n=int(input("enter the number"))
m=int(input("enter the devisor"))
while n >=m:
  n=n-m
r=n
print("remainder is",r)

enter the number12
enter the devisor4
remainder is 0

In [7]:
#5.	Input temperature finds Celsius and Fahrenheit and vice-versa.
n=float(input("enter temprature in celcius"))
m=float(input("enter temperature in farehiet"))
far=(n*1.8)+32
cel=(m-32)/1.8
print("temperature in celcius is",cel)
print("temperature in farhrenheight is",far)

enter temprature in celcius67
enter temperature in farehiet89
temperature in celcius is 31.666666666666664
temperature in farhrenheight is 152.60000000000002